<a href="https://colab.research.google.com/github/Mora5020/Desafio-Alura-Store/blob/main/Pandas_transformacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PROBLEMA DE NEGOCIO

Se trata  de un algoritmo capaz de analizar las caracteristicas de una propiedad - como comodidades, tamano,ocupacion del espacio en un periodo determinado- y sugerir al anfitrion un precio a cobrar por tarifas diarias que garantice ganancias en momentos de alta demanda.

# 01. Entiendiendo el Problema

In [ ]:
import pandas as pd

In [ ]:
datos = pd.read_json('/content/datos_hosting.json')
datos.head()

                                      info_inmuebles
0  {'evaluacion_general': '10.0', 'experiencia_lo...
1  {'evaluacion_general': '10.0', 'experiencia_lo...
2  {'evaluacion_general': '10.0', 'experiencia_lo...
3  {'evaluacion_general': '10.0', 'experiencia_lo...
4  {'evaluacion_general': '10.0', 'experiencia_lo...

## Normalizacion

In [ ]:
# Extraer los datos para visualizarlos, normalizacion.
datos = pd.json_normalize(datos['info_inmuebles'])
datos

,evaluacion_general,experiencia_local,max_hospedes,descripcion_local,descripcion_vecindad,cantidad_baños,cantidad_cuartos,cantidad_camas,modelo_cama,comodidades,cuota_deposito,cuota_limpieza,precio
0,10.0,--,1,[This clean and comfortable one bedroom sits r...,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,[Welcome to the heart of the 'Ballard Brewery ...,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."
2,10.0,--,11,[New modern house built in 2013. Spectacular ...,[Upper Queen Anne is a charming neighborhood f...,[4],[5],[7],[Real Bed],"[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00]",[$300.00],[$975.00]
3,10.0,--,12,[Our NW style home is 3200+ sq ft with 3 level...,[The Views from our top floor! Wallingford ha...,"[3, 3, 3, 3, 3, 3, 3, 3]","[6, 6, 5, 5, 5, 5, 4, 4]","[6, 6, 7, 8, 7, 7, 6, 6]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$500.00, $500.00, $500.00, $500.00, $500.00, ...","[$225.00, $300.00, $250.00, $250.00, $250.00, ...","[$490.00, $550.00, $350.00, $350.00, $350.00, ..."
4,10.0,--,14,"[Perfect for groups. 2 bedrooms, full bathroom...",[Safeway grocery store within walking distance...,"[2, 3]","[2, 6]","[3, 9]","[Real Bed, Real Bed]","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$300.00, $2,000.00]","[$40.00, $150.00]","[$200.00, $545.00]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,nan,--,5,[Our cozy little bungalow is the perfect place...,[The Queen Anne neighborhood is one of the mos...,"[1, 3, 2, 2, 2, 1, 2, 1, 1, 1, 2, 3, 2, 2, 2, ...","[2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, ...","[3, 2, 2, 3, 3, 2, 3, 2, 2, 3, 3, 3, 2, 3, 2, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{""Cable TV"",""Wireless Internet"",Kitchen,""Free...","[$250.00, $200.00, $0, $0, $0, $200.00, $350.0...","[$35.00, $50.00, $100.00, $100.00, $0, $30.00,...","[$150.00, $200.00, $143.00, $150.00, $350.00, ..."
66,nan,--,6,[Bright clean 2 bedroom 1 bath appartment in t...,[Ballard is the most interesting and ecclectic...,"[1, 1, 3, 2, 1, 3, 2, 2, 1, 2, 2, 2, 1, 2, 1, ...","[2, 3, 3, 2, 2, 3, 2, 3, 2, 2, 2, 2, 4, 3, 3, ...","[3, 3, 2, 3, 3, 3, 2, 3, 3, 3, 2, 2, 4, 4, 3, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,""Cable TV"",Internet,""Wireless Internet"",K...","[$200.00, $200.00, $100.00, $0, $0, $750.00, $...","[$0, $0, $100.00, $0, $75.00, $140.00, $112.00...","[$99.00, $185.00, $250.00, $200.00, $275.00, $..."
67,nan,--,7,[Beautiful end-unit townhome with lots of dayl...,"[Cherry blossoms (Sakura) in the spring, every...","[4, 3, 1, 2, 2, 1, 2, 1, 2, 2]","[3, 4, 3, 3, 3, 3, 3, 3, 3, 4]","[3, 5, 1, 5, 3, 2, 3, 4, 4, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$750.00, $350.00, $500.00, $500.00, $0, $200....","[$300.00, $90.00, $250.00, $100.00, $109.00, $...","[$218.00, $350.00, $450.00, $149.00, $99.00, $..."
68,nan,--,8,[Heart of Ballard new townhome with 4 BRs + ba...,"[--, --, The suite is conveniently located off...","[2, 2, 3, 1, 1, 2, 1, 3, 2, 1, 2, 1, 2, 2, 2, ...","[4, 2, 3, 4, 3, 3, 4, 4, 3, 5, 2, 3, 3, 4, 5, ...","[4, 4, 3, 3, 5, 5, 5, 5, 3, 5, 4, 5, 5, 4, 1, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",""Air Conditi...","[$500.00, $150.00, $250.00, $800.00, $0, $500....","[$50.00, $85.00, $150.00, $75.00, $100.00, $80...","[$275.00, $199.00, $400.00, $325.00, $300.00, ..."
69,nan,--,9,[This business-themed modern home features: *...,[Your hosts made Madison Valley their home whe...,"[2, 1]","[3, 4]","[6, 6]","[Real Bed, Real Bed]","[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00, $500.00]","[$150.00, $0]","[$250.00, $350.00]"

El método json_normalize() se utiliza para normalizar un objeto JSON que puede tener una o varias jerarquías. Cuando el objeto se transforma a un formato de tabla de varias columnas, cada columna representa una llave JSON y cada fila representa un registro. Es una forma de hacer que los datos sean más fáciles de manipular y analizar.

In [ ]:
#confirmamos  que en un df
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   evaluacion_general    70 non-null     object
 1   experiencia_local     70 non-null     object
 2   max_hospedes          70 non-null     object
 3   descripcion_local     70 non-null     object
 4   descripcion_vecindad  70 non-null     object
 5   cantidad_baños        70 non-null     object
 6   cantidad_cuartos      70 non-null     object
 7   cantidad_camas        70 non-null     object
 8   modelo_cama           70 non-null     object
 9   comodidades           70 non-null     object
 10  cuota_deposito        70 non-null     object
 11  cuota_limpieza        70 non-null     object
 12  precio                70 non-null     object
dtypes: object(13)
memory usage: 7.2+ KB

### Descripcion de los datos

En este curso trabajaremos con el conjunto de datos presentes en el archivo datos_hosting.json y, para avanzar en nuestros estudios sobre los datos que proporciona este archivo, entenderemos qué información trae cada columna.

* ```evaluacion_general```: puntuacion media otorgada para evaluar el alojamiento en la propiedad.
* ``experiencia_local```: describe las experiencias precidas durante su estancia en la propiedad.
* ```max_hospedes```: numero maximo de invitados que permite la ubicacion.
* ```descripcion_local```: describe la propiedad
* ```descripcion_vecindad```: describe el vecindario de la prop.
* ```cantidad_baños```: cantidad de baños disponibles.
* ```cantidad_cuartos```: cantidad de cuartos disponibles.
* ```cantidad_camas```: cantidad de camas disponibles.
* ```modelo_cama```: modelo  de cama ofrecido.
* ```comodidades```: comodidades que ofrece la prop.
* ```cuota_deposito```: informa la TARIFA MINIMA DE DEPOSITO para la seguridad del hosting.
* ```cuota_limpieza```: informa el cargo cobrado por servicio de limpieza.
* ```precio```: se refiere al precio base a cobrar por la ESTANCIA DIARIA en la propiedad.

In [ ]:
# nuestro df muestra que tenemos listas de distintos tipos de datos en cada registro de las columnas
# tengo que transformar un registro en varios registros de modo que quede un elemento individual de cada lista por registro.
# es decir que vuelvo UNA SOLA FILA, que en los registros de las columnas tienen listas, EN UN SOLO DF que tenga un elemento por registro.

## Explotacion de datos

In [ ]:
# primero: IDENTIFICO LAS COLUMNAS  que tienen listas
columnas = list(datos.columns)
columnas
# a partir de descripcion_local hasta la ultima voy a 'explotarlas'(metodo explode)

['evaluacion_general',
 'experiencia_local',
 'max_hospedes',
 'descripcion_local',
 'descripcion_vecindad',
 'cantidad_baños',
 'cantidad_cuartos',
 'cantidad_camas',
 'modelo_cama',
 'comodidades',
 'cuota_deposito',
 'cuota_limpieza',
 'precio']

In [ ]:
# lo hago por index de mi lista donde almacene las columnas
# REESCRIBO DATOS
datos = datos.explode(columnas[3:])
# Ahora si: cada uno de  los registros  que tenia en las listas fue creado como un nuevo elemento.
# lo podemos ver facilmente porque se repite el numero de indice. Quedo un diccionario poro abrir unicamente.
datos

,evaluacion_general,experiencia_local,max_hospedes,descripcion_local,descripcion_vecindad,cantidad_baños,cantidad_cuartos,cantidad_camas,modelo_cama,comodidades,cuota_deposito,cuota_limpieza,precio
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
0,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
0,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
0,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
0,10.0,--,1,The “Studio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,nan,--,8,Beautiful craftsman home in the historic Wedgw...,--,3,4,5,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...","$1,000.00",$178.00,$299.00
68,nan,--,8,Located in a very easily accessible area of Se...,"Quiet, dead end street near I-5. The proximity...",2,4,4,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",$0,$99.00,$199.00
68,nan,--,8,This home is fully furnished and available wee...,--,1,3,4,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",$0,$0,$400.00
69,nan,--,9,This business-themed modern home features: *H...,Your hosts made Madison Valley their home when...,2,3,6,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...","$1,000.00",$150.00,$250.00
69,nan,--,9,This welcoming home is in the quiet residentia...,"Despite the quiet, leafy streets of this resid...",1,4,6,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$500.00,$0,$350.00

In [ ]:
# reseteo el indice, lo ahgo inplace para que se almacene en elmmismo df y borro (drop) el indice anterior.
datos.reset_index(inplace=True, drop=True)
datos.head()

,evaluacion_general,experiencia_local,max_hospedes,descripcion_local,descripcion_vecindad,cantidad_baños,cantidad_cuartos,cantidad_camas,modelo_cama,comodidades,cuota_deposito,cuota_limpieza,precio
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
1,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
2,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
3,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
4,10.0,--,1,The “Studio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00

In [ ]:
# examino como queda el df
datos.info()
# veo que los tipo de datos de cantidades y strings son TIPO OBJECT
# Esto pasa porque pandas no sabia exactamente que eran.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   evaluacion_general    3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   object
 3   descripcion_local     3818 non-null   object
 4   descripcion_vecindad  3818 non-null   object
 5   cantidad_baños        3818 non-null   object
 6   cantidad_cuartos      3818 non-null   object
 7   cantidad_camas        3818 non-null   object
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  cuota_deposito        3818 non-null   object
 11  cuota_limpieza        3818 non-null   object
 12  precio                3818 non-null   object
dtypes: object(13)
memory usage: 387.9+ KB

# 02. Datos numericos.

Para trabajar con datos numericos preciso numpy

In [ ]:
import numpy as np

In [ ]:
# modifico el tipo de dato.
# OJO: esto no lo modifica en el  df.
datos['max_hospedes'].astype(np.int64)
# para guardarlo lo reemplazo en la columna del df.
datos['max_hospedes'] = datos['max_hospedes'].astype(np.int64)
# ATENCION: Si alguno de mis valores no es un entero (y es por  ejemplo un string) este metodo va a dar error.

In [ ]:
# OPTIMIZANDO EL PROCESO DE TRANSFORMACION DE TIPO DE DATOS
# python solo recorre cada columna, la modifica y la reescribe.

col_numericas = ['cantidad_baños', 'cantidad_cuartos', 'cantidad_camas']
datos[col_numericas] = datos[col_numericas].astype(np.int64)

In [ ]:
# Evaluacion es decimal
datos['evaluacion_general'] = datos['evaluacion_general'].astype(np.float64)

In [ ]:
# Para convertir los valores en pesos tengo que sacar el  $ u otros caracteres especiales para poder transformarlos.
# examino la columna
datos['precio']

0       $110.00
1        $45.00
2        $55.00
3        $52.00
4        $85.00
         ...
3813    $299.00
3814    $199.00
3815    $400.00
3816    $250.00
3817    $350.00
Name: precio, Length: 3818, dtype: object

In [ ]:
# El metodo recorre cada registro de la columna y lo transforma
# lambda es una tranformacion que recorre cada elemento. (no tengo que poner indice ni for) yo solo llamo a cada registro como quiero, en este caso x.
# puedo agregar tantos  replace como modificaciones necesite. strip elimina espacios en blanco.

datos['precio'] = datos['precio'].apply(lambda x: x.replace('$', '').replace(',', '').strip())
datos['precio']

0       110.00
1        45.00
2        55.00
3        52.00
4        85.00
         ...
3813    299.00
3814    199.00
3815    400.00
3816    250.00
3817    350.00
Name: precio, Length: 3818, dtype: object

In [ ]:
datos['precio'] = datos['precio'].astype(np.float64)

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   evaluacion_general    3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descripcion_local     3818 non-null   object
 4   descripcion_vecindad  3818 non-null   object
 5   cantidad_baños        3818 non-null   int64
 6   cantidad_cuartos      3818 non-null   int64
 7   cantidad_camas        3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  cuota_deposito        3818 non-null   object
 11  cuota_limpieza        3818 non-null   object
 12  precio                3818 non-null   float64
dtypes: float64(2), int64(4), object(7)
memory usage: 387.9+ KB

In [ ]:
# MULTIPLES CAMBIOS EN UNO SOLOOOOH
# ATENCION: no puedo hacer apply para un dataframe de dos columnas.(datos[['cuota_deposito','cuota_limpieza']])
# apply solo sirve para series, como cuando trabajo con una sola columna.
# examino
datos[['cuota_deposito','cuota_limpieza']]

     cuota_deposito cuota_limpieza
0                $0             $0
1                $0             $0
2                $0             $0
3                $0         $20.00
4                $0         $15.00
...             ...            ...
3813      $1,000.00        $178.00
3814             $0         $99.00
3815             $0             $0
3816      $1,000.00        $150.00
3817        $500.00             $0

[3818 rows x 2 columns]

In [ ]:
# applymap si funciona para df.
datos[['cuota_deposito','cuota_limpieza']] = datos[['cuota_deposito','cuota_limpieza']].applymap(lambda x: x.replace('$', '').replace(',', '').strip())

/tmp/ipython-input-878051654.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  datos[['cuota_deposito','cuota_limpieza']] = datos[['cuota_deposito','cuota_limpieza']].applymap(lambda x: x.replace('$', '').replace(',', '').strip())

In [ ]:
datos[['cuota_deposito','cuota_limpieza']] = datos[['cuota_deposito','cuota_limpieza']].astype(np.float64)
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   evaluacion_general    3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descripcion_local     3818 non-null   object
 4   descripcion_vecindad  3818 non-null   object
 5   cantidad_baños        3818 non-null   int64
 6   cantidad_cuartos      3818 non-null   int64
 7   cantidad_camas        3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  cuota_deposito        3818 non-null   float64
 11  cuota_limpieza        3818 non-null   float64
 12  precio                3818 non-null   float64
dtypes: float64(4), int64(4), object(5)
memory usage: 387.9+ KB

### Precision de valores numericos

Por lo general, cuando los datos son muy grandes y tenemos poca memoria disponible, es habitual utilizar tipos de datos más compactos para reducir el consumo de memoria. Sin embargo, siempre es importante asegurarse de que la elección del tipo de datos no perjudique la precisión o exactitud de los resultados.

Cuando trabajamos con números enteros con Python, podemos tener diferentes tipos de datos, cada uno con sus limitaciones y características. Durante las clases trabajamos con int64, un número entero con precisión de 64 bits. Para entender el significado de esta precisión, es importante conocer algunos términos técnicos, como byte y bit:

**Byte:** es una unidad de medida de información, que representa un conjunto de 8 bits.
**Bit:** es la unidad de información más pequeña utilizada en los sistemas digitales, y puede tomar los valores de 0 o 1.
Tipo entero

Con los conceptos de bit y byte claros, podemos comprender mejor el significado de int64, que es el tipo de entero que utiliza 8 bytes de almacenamiento: 8 bits en cada byte, lo que da como resultado 64 bits en total. Este tipo de entero es capaz de representar números muy grandes, que pueden oscilar entre -9.223.372.036.854.775.808 y 9.223.372.036.854.775.807.

Además, tenemos otros números enteros cuya precisión se puede definir, como int32, un tipo de datos entero que utiliza 4 bytes - 8 bits en cada byte, lo que da como resultado 32 bits en total. Es capaz de representar números enteros menores que los representados por int64, con un máximo de -2.147.483.648 a 2.147.483.647.

Puede ser más común encontrar los tipos int64 y int32, pero puede ser necesario, en algunas situaciones, utilizar otros tipos de datos enteros, como int8 o int16. Tipos de datos como estos son útiles cuando necesita ahorrar más memoria y no trabaja con valores grandes. Puede consultar los tipos de números enteros en la siguiente tabla:

Tipo de dado	|Número de bits|	Valor mínimo	| Valor máximo
---|---|---|---
|int8|	8|	-128	| 127
|int16|	16|	-32.768|	32.767
|int32|	32|	-2.147.483.648	|2.147.483.647
|int64	|64	|-9.223.372.036.854.775.808|	9.223.372.036.854.775.807

La elección de qué valor de precisión dependerá de la situación y la naturaleza de los datos que se manipulan. Si los valores que se analizan son relativamente pequeños, el uso de int32, por ejemplo, puede ser suficiente y puede ahorrar espacio en la memoria. Sin embargo, si estuviéramos trabajando con datos científicos, por ejemplo, que requieren valores muy grandes, es posible que necesitemos usar int64.

Tipo float

Además de los números enteros, otros tipos de datos, como float, también utilizan esta opción de precisión como opción para controlar el espacio de memoria. Al igual que los números enteros, el tipo float también tiene opciones de precisión: entre los tipos más comunes se encuentran float32 y float64.

El tipo float64 es un número de punto flotante con 64 bits de precisión, que representa un número decimal de hasta 15 dígitos. Por otro lado, float32 es más pequeño tanto en su capacidad de bits, con 32 en total, como en su capacidad de precisión decimal, con capacidad de precisión de hasta 7 dígitos.

# 03. Datos de texto

## Tokenizacion

Tokenización: Extrayendo Valor de los Textos

En el contexto de la valoración de alquileres, la tokenización es una técnica clave para analizar datos de texto, como las descripciones de las propiedades. Estas descripciones contienen información valiosa sobre las características y comodidades que influyen en el precio del alquiler.

¿Qué es la Tokenización?

La tokenización es el proceso de dividir un texto en unidades más pequeñas llamadas "tokens". Estos tokens pueden ser palabras, sílabas o incluso conjuntos de palabras, dependiendo de la aplicación. En nuestro caso, realizaremos una tokenización simple, donde cada palabra del texto se convertirá en un token.

¿Por qué Tokenizar?

No podemos sumar, dividir o contar directamente un texto. La tokenización nos permite transformar el texto en unidades que podemos analizar cuantitativamente. Al identificar palabras clave y patrones en las descripciones, podemos determinar qué características tienen mayor impacto en el precio del alquiler.

Ejemplo Práctico

Imagina que analizamos las descripciones de varios alquileres y encontramos que palabras como "excelente", "fantástico" o "maravilloso" aparecen con frecuencia en propiedades de alto precio. Por otro lado, palabras como "horrible" o "no recomendado" podrían estar asociadas con alquileres más económicos.

Pasos para la Tokenización

Normalización del Texto: Antes de tokenizar, es importante normalizar el texto. Esto incluye convertir todo el texto a minúsculas y eliminar caracteres extraños que puedan interferir con el análisis.
División en Tokens: Una vez normalizado el texto, lo dividimos en tokens. En nuestro caso, cada palabra se convierte en un token individual.
Análisis de Tokens: Finalmente, analizamos los tokens para identificar patrones y relaciones con el precio del alquiler. Podemos contar la frecuencia de cada palabra, identificar palabras clave y utilizar técnicas de aprendizaje automático para predecir el precio en función de las palabras presentes en la descripción.

##  Normalizacion de texto

In [ ]:
datos.head()

,evaluacion_general,experiencia_local,max_hospedes,descripcion_local,descripcion_vecindad,cantidad_baños,cantidad_cuartos,cantidad_camas,modelo_cama,comodidades,cuota_deposito,cuota_limpieza,precio
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,0.0,110.0
1,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,45.0
2,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,55.0
3,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,20.0,52.0
4,10.0,--,1,The “Studio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",0.0,15.0,85.0

In [ ]:
# la tokenizacion va a ser simple. vamos a dividir  texto en palabras.
# para eso transformamos el texto en palabras, y para eso normalizamos a minuscula.
# esta columna es tipo object, preciso hacerla string.
datos['descripcion_local'] = datos['descripcion_local'].str.lower()

In [ ]:
datos.head()

,evaluacion_general,experiencia_local,max_hospedes,descripcion_local,descripcion_vecindad,cantidad_baños,cantidad_cuartos,cantidad_camas,modelo_cama,comodidades,cuota_deposito,cuota_limpieza,precio
0,10.0,--,1,this clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,0.0,110.0
1,10.0,--,1,our century old upper queen anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,45.0
2,10.0,--,1,cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,55.0
3,10.0,--,1,very lovely and cozy room for one. convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,20.0,52.0
4,10.0,--,1,the “studio at mibbett hollow' is in a beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",0.0,15.0,85.0

### Normalizar texto con apply

```
df['experiencias_clientes'] = df['experiencias_clientes'].apply(lambda x: x.upper())
```

Se usa apply para aplicar una función a cada elemento de una columna. En este caso, la función lambda se utiliza para transformar todas las letras de la columna experiencias_clientes a mayúsculas. Al usar la función lambda dentro del método apply, estamos aplicando la función elemento por elemento en la columna.

### Normalizar con regex

Regex (o expresión regular) es una secuencia de caracteres que define un patrón de búsqueda en un texto. Es una herramienta poderosa y versátil que le permite buscar, reemplazar y manipular patrones de texto de manera eficiente. Regex se usa ampliamente en diferentes áreas, incluida la programación, la ciencia de datos y el procesamiento de textos.

En la ciencia de datos, las expresiones regulares se utilizan a menudo para procesar datos de texto sin formato. Algunas de estas aplicaciones incluyen limpieza de datos, donde se pueden usar expresiones regulares para buscar y reemplazar ciertos caracteres. También se puede utilizar en proyectos de clasificación; un ejemplo es el uso de expresiones regulares para ayudar a encontrar patrones en el texto de los correos electrónicos, lo que ayuda a clasificar si son spam o no.

En general, las expresiones regulares permiten a los científicos de datos procesar, analizar y clasificar grandes volúmenes de datos de texto de forma eficiente y automatizada. El uso adecuado de expresiones regulares puede ayudar a extraer información valiosa de los datos de texto, además de facilitar la limpieza y organización de esos datos.

Puedes crear una expresión regular con la ayuda del sitio web [regex101.com](https://regex101.com/). Si quieres saber más sobre regex y su aplicación en bases de datos, vale la pena leer el artículo [Principales casos de uso de Regex](https://www.alura.com.br/artigos/principais-casos-uso-regex-para-tratamento-dados?_gl=1*c7avpz*_gcl_au*NDk0MjE2NTI4LjE3NjM3NjU5MzI.*_ga*MjA0ODUzMzg0MS4xNzU0MzM5NTUz*_ga_WWRP4FFDZK*czE3Njg0MzE1MzEkbzI2MSRnMSR0MTc2ODQzMzIxOCRqMTQkbDAkaDA.) para procesamiento de datos, que muestra una aplicación regex en banco de datos.

In [ ]:
# examino una unica variable para ver que caracteres eliminar
# por ejemplo comas, asteriscos, dos puntos, barras diagonales.
# dejo las comillas de palabas compuestas en ingles o guiones.
datos['descripcion_local'][3169]

"built, run and supported by seattle tech and start up veterans, grokhome's focus is to create a supportive environment for smart people working on interesting projects, start ups and more. this listing is an upper bunk, in a 2-person shared room. *note: this fall, there will be major renovations happening on one kitchen and bathroom at a time. there will always be two other working kitchens and two working bathrooms in the house. we'll work to minimize the impact these renovations have on your stay. **this listing is only available to those working in the tech/science space. live in a hacker house, and immerse yourself in the seattle tech scene. you can expect to be surrounded by smart people solving big problems or working on something fun. we have frequent demo nights, and love when our guests share something they are passionate about. if you're new to the city, our deep ties to the seattle tech scene can help you get involved. expand your network, develop your ideas, and learn somet"

In [ ]:
# pido que reemplace con regex todo lo que NO SEA (^) [^a-zA-Z0-9\'-]
# a esta secuencia se la llama Expresion Regular.
# letras de la 'a' a la 'z' y la 'A' a la 'Z'
# \'- comilla y guion

datos['descripcion_local'] = datos['descripcion_local'].str.replace('[^a-zA-Z0-9\'-]',' ', regex=True)

In [ ]:
datos['descripcion_local'][3169]

"built  run and supported by seattle tech and start up veterans  grokhome's focus is to create a supportive environment for smart people working on interesting projects  start ups and more  this listing is an upper bunk  in a 2-person shared room   note  this fall  there will be major renovations happening on one kitchen and bathroom at a time  there will always be two other working kitchens and two working bathrooms in the house  we'll work to minimize the impact these renovations have on your stay    this listing is only available to those working in the tech science space  live in a hacker house  and immerse yourself in the seattle tech scene  you can expect to be surrounded by smart people solving big problems or working on something fun  we have frequent demo nights  and love when our guests share something they are passionate about  if you're new to the city  our deep ties to the seattle tech scene can help you get involved  expand your network  develop your ideas  and learn somet"

In [ ]:
# pido que reemplace el guion si funciona como espacio entre - dos - palabras
# le  digo que reeplace los guiones que no tengan un caracter a la  izquierda o derecha. (?<!\w)
# la r atras de la expresion regular para qeu python la interprete literalmente y no como secuencias de escape.
datos['descripcion_local'] = datos['descripcion_local'].str.replace(r'(?<!\w)-(?<!\w)',' ', regex=True)
datos['descripcion_local'].head()

0    this clean and comfortable one bedroom sits ri...
1    our century old upper queen anne house is loca...
2    cozy room in two-bedroom apartment along the l...
3    very lovely and cozy room for one  convenientl...
4    the  studio at mibbett hollow' is in a beautif...
Name: descripcion_local, dtype: object

In [ ]:
# LISTA DE PALABRAS
# metodo split, por defecto usa el separador ' '.
datos['descripcion_local'] = datos['descripcion_local'].str.split()
datos.sample(15)

,evaluacion_general,experiencia_local,max_hospedes,descripcion_local,descripcion_vecindad,cantidad_baños,cantidad_cuartos,cantidad_camas,modelo_cama,comodidades,cuota_deposito,cuota_limpieza,precio
2225,9.0,--,2,"[located, in, the, heart, of, downtown, square...","It's so close to downtown, it basically is dow...",1,1,1,Futon,"{Internet,""Wireless Internet"",""Wheelchair Acce...",0.0,0.0,35.0
3389,NaN,--,2,"[enjoy, the, quieter, side, of, seattle, by, s...",--,1,1,1,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",200.0,61.0,80.0
3522,NaN,--,3,"[just, 2, miles, from, downtown, our, cozy, le...",Our neighborhood has the benefit of feeling li...,1,1,1,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,100.0
1407,10.0,--,4,"[we, rent, 2, bedrooms, and, a, very, large, b...",The north Seattle neighborhood offers so many ...,1,1,2,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",300.0,65.0,170.0
158,10.0,--,2,"[modern, classic, fully, furnished, private, h...",--,1,1,1,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",200.0,85.0,115.0
3295,NaN,--,2,"[a, cute, cottage, near, capitol, hill, seattl...",The 12th Avenue corridor is full of yummy food...,1,0,1,Real Bed,"{Internet,""Wireless Internet"",Heating,Washer,D...",250.0,15.0,70.0
343,10.0,--,2,"[we, hope, that, when, you, stay, with, us, yo...",The neighborhood is quiet and very close to gr...,1,1,1,Pull-out Sofa,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,30.0,56.0
3211,NaN,--,1,"[large, bedroom, with, huge, windows, in, a, p...",--,1,1,1,Real Bed,"{TV,""Wireless Internet"",Kitchen,""Free Parking ...",185.0,10.0,49.0
1449,10.0,--,4,"[spacious, 3-story, townhome, located, on, the...",--,2,2,2,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,120.0
2302,9.0,--,2,"[warm, and, quiet, easiest, commute, in, town,...",--,2,1,1,Real Bed,"{""Wireless Internet"",Heating,Washer,Dryer,Esse...",0.0,10.0,55.0
3785,NaN,--,7,"[beautiful, end-unit, townhome, with, lots, of...","Cherry blossoms (Sakura) in the spring, everyt...",4,3,3,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""W...",750.0,300.0,218.0
3665,NaN,--,4,"[enjoy, this, vacation, destination, in, the, ...",--,1,1,3,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,200.0
3456,NaN,--,2,"[newly, remodeled, 1917, craftsman, style, bun...","The Ravenna, Roosevelt and Greenlake neighborh...",1,1,1,Real Bed,"{""Cable TV"",""Wireless Internet"",Kitchen,""Pets ...",350.0,50.0,150.0
3271,NaN,--,2,"[private, furnished, room, w, queen, bed, pati...","Kitty corner to the YMCA, which has a pool and...",1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,Heating,...",0.0,20.0,60.0
3357,NaN,--,2,"[beautiful, 3, 500, square, foot, custom, buil...",--,1,1,1,Real Bed,"{TV,""Cable TV"",""Wireless Internet"",Kitchen,""Fr...",0.0,0.0,100.0

In [ ]:
datos['comodidades'][0]

'{Internet,"Wireless Internet",Kitchen,"Free Parking on Premises","Pets Allowed","Elevator in Building",Heating,"Smoke Detector","Carbon Monoxide Detector",Essentials,Shampoo}'

In [ ]:
datos['comodidades'] = datos['comodidades'].str.replace('[{}"]', '', regex=True)
datos['comodidades'] = datos['comodidades'].apply(lambda x: x.lower())
datos['comodidades'] = datos['comodidades'].str.split(',')
datos['comodidades']

0       [internet, wireless internet, kitchen, free pa...
1       [tv, internet, wireless internet, kitchen, fre...
2       [tv, internet, wireless internet, kitchen, fre...
3       [internet, wireless internet, kitchen, free pa...
4       [wireless internet, kitchen, free parking on p...
                              ...
3813    [tv, cable tv, internet, wireless internet, ai...
3814    [tv, cable tv, internet, wireless internet, ki...
3815    [tv, cable tv, internet, wireless internet, ai...
3816    [tv, cable tv, internet, wireless internet, ai...
3817    [tv, internet, wireless internet, kitchen, fre...
Name: comodidades, Length: 3818, dtype: object

In [ ]:
datos['descripcion_vecindad'].sample(10)

1929    Ballard is rapidly growing, and has a long lis...
3450    Ballard is very popular with trendy shops, bar...
1326    North Beacon Hill is a budding, funky and comm...
826                                                    --
1178                                                   --
1044    North Beacon Hill is very diverse and is NOT d...
249                                                    --
3010    Safe neighborhood that is family friendly. We'...
557                                                    --
2617    Pike Place is Seattle's headlining attraction....
Name: descripcion_vecindad, dtype: object

In [ ]:
datos['descripcion_vecindad'] = datos['descripcion_vecindad'].str.replace('[().:,"\']', '', regex=True)
datos['descripcion_vecindad'].sample(10)

2094    Ballard is a hip fun neighborhood with a great...
3713    I loved living here before we had 3 kids The t...
2       The convenience of being in Seattle but on the...
1372    Situated in the ideal Seattle location where C...
1034    There are several restaurants within a block a...
3457    The townhouse is located at the  center of the...
2910    Its a peaceful neighborhood with beautiful gar...
517     Greenwood offers a variety of entertainment op...
3763    OUR LOCATION We are less than a mile away from...
1288    Nice neighborhood close to everything  Althoug...
Name: descripcion_vecindad, dtype: object

In [ ]:
datos['descripcion_vecindad'] = datos['descripcion_vecindad'].apply(lambda x: x.lower())

In [ ]:
datos['descripcion_vecindad'] = datos['descripcion_vecindad'].str.split()
datos['descripcion_vecindad']

0       [lower, queen, anne, is, near, the, seattle, c...
1       [upper, queen, anne, is, a, really, pleasant, ...
2       [the, convenience, of, being, in, seattle, but...
3       [ballard, is, lovely, vibrant, and, one, of, t...
4                                                    [--]
                              ...
3813                                                 [--]
3814    [quiet, dead, end, street, near, i-5, the, pro...
3815                                                 [--]
3816    [your, hosts, made, madison, valley, their, ho...
3817    [despite, the, quiet, leafy, streets, of, this...
Name: descripcion_vecindad, Length: 3818, dtype: object

### que es regex?
En la función replace de Pandas, el parámetro regex se utiliza para indicar si la búsqueda y el reemplazo deben interpretarse como una expresión regular (regex).

Cuando regex=True, el patrón de búsqueda se trata como una expresión regular, lo que permite realizar búsquedas más complejas y flexibles. Puedes usar metacaracteres y patrones especiales para encontrar y reemplazar texto de manera más precisa.

Cuando regex=False (o se omite, ya que este es el valor predeterminado), el patrón de búsqueda se trata como una cadena literal. En este caso, la búsqueda se realiza de forma exacta, sin interpretar ningún carácter especial.

[Documentacion](https://docs.python.org/3/howto/regex.html)

[Modulo re](https://docs.python.org/3/library/re.html)

### porque uno tiene corchetes?
La diferencia en el uso de corchetes entre las dos expresiones regulares se debe a que tienen propósitos distintos:

Expresión regular con corchetes: [^a-zA-Z0-9\'-]

Los corchetes se utilizan para definir una "clase de caracteres". En este caso, la clase de caracteres incluye todas las letras (mayúsculas y minúsculas), los números del 0 al 9, la comilla simple (') y el guion (-).
El símbolo ^ al principio de la clase indica que se busca cualquier carácter que NO esté dentro de esa clase. Es decir, se busca cualquier carácter que no sea una letra, un número, una comilla simple o un guion.
Esta expresión regular se utiliza para eliminar todos los caracteres especiales que no son letras, números, comillas simples o guiones.
Expresión regular sin corchetes: (\W)-(\W)

En esta expresión regular, no se utilizan corchetes porque no se está definiendo una clase de caracteres. En cambio, se está buscando un patrón específico: un carácter que no sea una palabra (\W), seguido de un guion (-), seguido de otro carácter que no sea una palabra (\W).
Los paréntesis se utilizan para crear "grupos de captura". Estos grupos permiten referirse a las partes coincidentes del patrón en el reemplazo. En este caso, se capturan los caracteres no alfanuméricos antes y después del guion.
Esta expresión regular se utiliza para eliminar los guiones que están rodeados de caracteres no alfanuméricos, es decir, los guiones que no forman parte de palabras compuestas.

# 04. Datos de tiempo

La clase datetime es un tipo de datos que representa una fecha y hora específicas en Python. Permite trabajar y manipular datos de año, mes, día, hora, minuto, segundo y microsegundo, así como días de la semana, como lunes, martes, miércoles, etc. Esta clase está definida en el módulo datetime y es fundamental para manipular fechas y horas en Python. Con él es posible realizar operaciones de cálculo de diferencias entre fechas, formatear fechas y horas en diferentes formatos, además de ser muy útil para analizar datos que involucran series temporales.

Con la biblioteca Pandas es posible realizar diversas operaciones con fechas y horas, como convertir datos de cadena a datetime, filtrar datos en función de intervalos de tiempo específicos, agregar datos por hora, día, mes o año, entre otras funcionalidades. Por tanto, con esta biblioteca es posible realizar diversas operaciones con fechas de forma sencilla y eficiente dentro de un conjunto de datos.

**Biblioteca datetime**

Podemos trabajar directamente con datetime a través de la biblioteca datetime, una biblioteca estándar de Python que proporciona clases para trabajar con fechas y horas. Con esta biblioteca, puede crear objetos de fecha y hora, realizar cálculos de tiempo, formatear fechas y horas en diferentes formatos y mucho más.

Dentro de la biblioteca datetime, existe la clase de fecha y hora, que representa una fecha y hora específicas. Vea un ejemplo:
```
import datetime

# creando un objeto datetime con la fecha y hora actual
ahora = datetime.datetime.now()

print("Fecha y hora actual:", ahora)
```
En este ejemplo, el método now() de la clase datetime se utiliza para crear un objeto que representa la fecha y hora actuales. El objeto resultante se almacena en la variable ahora y luego se imprime en la pantalla usando la función print().

Otra clase importante en la biblioteca datetime es la clase date, que representa solo una fecha. Vea un ejemplo:
```
import datetime
# creando un objeto date con la fecha de hoy
hoy = datetime.date.today()

print("Fecha de hoy:", hoy)
```
En este ejemplo, el método today() de la clase date se utiliza para crear un objeto que representa la fecha de hoy. El objeto resultante se almacena en la variable hoy y luego se imprime en la pantalla usando la función print().

La biblioteca datetime también le permite realizar operaciones matemáticas con fechas y horas. Vea un ejemplo de cómo calcular la diferencia entre dos fechas:
```
import datetime

# creando dos objetos date con fechas diferentes
data_1 = datetime.date(2022, 1, 1)
data_2 = datetime.date(2023, 1, 1)

# calculando la diferencia entre las dos fechas
diferencia = data_2 - data_1

print("Diferencia entre las dos fechas:", diferencia)
```
En este ejemplo, se crean dos objetos date con fechas diferentes. Luego se utiliza el operador de resta para calcular la diferencia entre las dos fechas. El resultado se almacena en la variable diferencia y luego se imprime en la pantalla usando la función print().

Para profundizar en los usos del tipo datetime, consulte el artículo Python datetime: [¿Cómo configuro la fecha y la hora en Python?](https://www.alura.com.br/artigos/lidando-com-datas-e-horarios-no-python?_gl=1*176fas9*_gcl_au*NDk0MjE2NTI4LjE3NjM3NjU5MzI.*_ga*MjA0ODUzMzg0MS4xNzU0MzM5NTUz*_ga_WWRP4FFDZK*czE3Njg1MDk2OTkkbzI2NSRnMSR0MTc2ODUxMDAwNSRqNDAkbDAkaDA.) y también la documentación de la [biblioteca datetime](https://docs.python.org/3/library/datetime.html).

In [ ]:
datos_fechas = pd.read_json('/content/inmuebles_disponibles.json')
datos_fechas

          id       fecha  lugar_disponible   precio
0        857  2016-01-04             False     None
1        857  2016-01-05             False     None
2        857  2016-01-06             False     None
3        857  2016-01-07             False     None
4        857  2016-01-08             False     None
...      ...         ...               ...      ...
364995  3279  2016-12-29              True  $140.00
364996  3279  2016-12-30              True  $140.00
364997  3279  2016-12-31              True  $140.00
364998  3279  2017-01-01              True  $140.00
364999  3279  2017-01-02             False     None

[365000 rows x 4 columns]

In [ ]:
datos_fechas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                365000 non-null  int64
 1   fecha             365000 non-null  object
 2   lugar_disponible  365000 non-null  bool
 3   precio            270547 non-null  object
dtypes: bool(1), int64(1), object(2)
memory usage: 11.5+ MB

In [ ]:
datos_fechas['fecha'] = pd.to_datetime(datos_fechas['fecha'])

In [ ]:
datos_fechas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                365000 non-null  int64
 1   fecha             365000 non-null  datetime64[ns]
 2   lugar_disponible  365000 non-null  bool
 3   precio            270547 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 11.5+ MB

pd.to_datetime(datos_fechas['fecha']) es la forma recomendada por pandas para convertir una columna a tipo datetime. Este método es más robusto y flexible que astype, ya que puede manejar una variedad de formatos de fecha y proporciona opciones adicionales para el manejo de errores y la conversión de formatos.

### Relatorio

En el contexto de la clase, un "relatorio" se refiere a un informe o resumen que muestra la cantidad de lugares disponibles por mes. Este informe se genera agrupando los datos por año y mes, y luego sumando los valores de la columna booleana que indica si un lugar está disponible o no. El objetivo de este informe es visualizar la demanda a lo largo del tiempo y ayudar a establecer precios inteligentes para las propiedades.

In [ ]:
# configuro para solo ver mes y anio asi es mas sencillo
# .dt asviso a python que es datetime
# .strftime permite personalizar la variable fecha
datos_fechas['fecha'].dt.strftime('%Y-%m')

0         2016-01
1         2016-01
2         2016-01
3         2016-01
4         2016-01
           ...
364995    2016-12
364996    2016-12
364997    2016-12
364998    2017-01
364999    2017-01
Name: fecha, Length: 365000, dtype: object

In [ ]:
# agrupo
datos_fechas.groupby(datos_fechas['fecha'].dt.strftime('%Y-%m'))
# en los [] pido a python que contabilice una columna. (solo funciona con columnas booleanas!!)
# .sum recorre cada valor y cuenta los True.
subconjunto = datos_fechas.groupby(datos_fechas['fecha'].dt.strftime('%Y-%m'))['lugar_disponible'].sum()
# devuelve por anio y mes la cantidad de lugares disponibles.
subconjunto

fecha
2016-01    16543
2016-02    20128
2016-03    23357
2016-04    22597
2016-05    23842
2016-06    23651
2016-07    22329
2016-08    22529
2016-09    22471
2016-10    23765
2016-11    23352
2016-12    24409
2017-01     1574
Name: lugar_disponible, dtype: int64


### Extra
convertir precio a float64. Reemplazar none por '0.0'

In [ ]:
# primero reemplazo none porque apply no funciona si no
datos_fechas['precio'].fillna('0.0', inplace=True)

/tmp/ipython-input-2021873299.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  datos_fechas['precio'].fillna('0.0', inplace=True)

In [ ]:
datos_fechas['precio'] = datos_fechas['precio'].apply(lambda x: x.replace('$', '').replace('.', '').replace(',', '.'))

In [ ]:
datos_fechas['precio'] = datos_fechas['precio'].astype(np.float64)

In [ ]:
datos_fechas['precio'].info()

<class 'pandas.core.series.Series'>
Index: 365000 entries, 0 to 364999
Series name: precio
Non-Null Count   Dtype
--------------   -----
365000 non-null  float64
dtypes: float64(1)
memory usage: 5.6 MB

# Desafios.

 ¡Preparé dos proyectos adicionales para que los desarrollemos durante el curso, para asegurarnos de que podamos practicar mucho! Para ello trabajaremos con 2 nuevos conjuntos de datos, pero esta vez serán mucho más pequeños.

## Proyecto Desafío 1: Ventas Online

El objetivo de este proyecto es **analizar los resultados de un evento** con los clientes de una empresa de venta online.

Se recopiló un conjunto de datos que contiene los **clientes que más gastaron en productos** durante los **5 días de ventas**, que es la duración del evento. Este análisis identificará al **cliente con la mayor compra esta semana**, quien recibirá un premio de la tienda, y posteriormente, puede ayudar a la empresa a crear nuevas estrategias para atraer más clientes.

La base de datos utilizada en este análisis es **dados_vendas_clientes.json** y contiene información importante sobre los clientes, como el nombre registrado del cliente, el monto total pagado al momento de la compra y el día de la compra.

## Etapa 1

Sabiendo esta información, el desafío del proyecto 1: ventas online será abrir la base de datos con Pandas y aplicar json_normalize.

In [ ]:
import pandas as pd

In [ ]:
datos_ventas_online = pd.read_json('/content/dados_vendas_clientes.json')
datos_ventas_online = pd.json_normalize(datos_ventas_online['dados_vendas'])
datos_ventas_online

,Data de venda,Cliente,Valor da compra
0,06/06/2022,"[@ANA _LUCIA 321, DieGO ARMANDIU 210, DieGO AR...","[R$ 836,5, R$ 573,33, R$ 392,8, R$ 512,34]"
1,07/06/2022,"[Isabely JOanes 738, Isabely JOanes 738, Isabe...","[R$ 825,31, R$ 168,07, R$ 339,18, R$ 314,69]"
2,08/06/2022,"[Isabely JOanes 738, JOãO Gabriel 671, Julya m...","[R$ 682,05, R$ 386,34, R$ 622,65, R$ 630,79]"
3,09/06/2022,"[Julya meireles 914, MaRIA Julia 444, MaRIA Ju...","[R$ 390,3, R$ 759,16, R$ 334,47, R$ 678,78]"
4,10/06/2022,"[MaRIA Julia 444, PEDRO PASCO 812, Paulo castr...","[R$ 314,24, R$ 311,15, R$ 899,16, R$ 885,24]"

## Etapa 2

Leímos la base de datos en el desafío anterior, ahora podemos seguir adelante con la transformación de estos datos. Así, el nuevo desafío del proyecto 1 será dividido en algunas metas:

* Eliminar datos en listas dentro del DataFrame;

* Verificar tipos de datos;

* Identificar columnas numéricas;

* Transformar la columna numérica a tipo numérico.

In [ ]:
# ELIMINAR DATOS EN LISTAS
columnas = list(datos_ventas_online.columns)
columnas

['Data de venda', 'Cliente', 'Valor da compra']

In [ ]:
datos_ventas_online = datos_ventas_online.explode(columnas[1:])
datos_ventas_online.reset_index(inplace=True, drop=True)
datos_ventas_online

   Data de venda             Cliente Valor da compra
0     06/06/2022     @ANA _LUCIA 321        R$ 836,5
1     06/06/2022  DieGO ARMANDIU 210       R$ 573,33
2     06/06/2022  DieGO ARMANDIU 210        R$ 392,8
3     06/06/2022  DieGO ARMANDIU 210       R$ 512,34
4     07/06/2022  Isabely JOanes 738       R$ 825,31
5     07/06/2022  Isabely JOanes 738       R$ 168,07
6     07/06/2022  Isabely JOanes 738       R$ 339,18
7     07/06/2022  Isabely JOanes 738       R$ 314,69
8     08/06/2022  Isabely JOanes 738       R$ 682,05
9     08/06/2022    JOãO Gabriel 671       R$ 386,34
10    08/06/2022  Julya meireles 914       R$ 622,65
11    08/06/2022  Julya meireles 914       R$ 630,79
12    09/06/2022  Julya meireles 914        R$ 390,3
13    09/06/2022     MaRIA Julia 444       R$ 759,16
14    09/06/2022     MaRIA Julia 444       R$ 334,47
15    09/06/2022     MaRIA Julia 444       R$ 678,78
16    10/06/2022     MaRIA Julia 444       R$ 314,24
17    10/06/2022     PEDRO PASCO 812       R$ 311,15
18    10/06/2022    Paulo castro 481       R$ 899,16
19    10/06/2022   Thiago fritzz 883       R$ 885,24

In [ ]:
# VERIFICAR TIPOS DE DATOS
datos_ventas_online.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    20 non-null     object
 1   Cliente          20 non-null     object
 2   Valor da compra  20 non-null     object
dtypes: object(3)
memory usage: 612.0+ bytes

In [ ]:
# TRANSFORMAR COLUMNA NUMERICA A TIPO NUMERICO
datos_ventas_online['Valor da compra'] = datos_ventas_online['Valor da compra'].apply(lambda x: x.replace('$', '').replace(',', '.').replace('R', '').strip())
datos_ventas_online

   Data de venda             Cliente Valor da compra
0     06/06/2022     @ANA _LUCIA 321           836.5
1     06/06/2022  DieGO ARMANDIU 210          573.33
2     06/06/2022  DieGO ARMANDIU 210           392.8
3     06/06/2022  DieGO ARMANDIU 210          512.34
4     07/06/2022  Isabely JOanes 738          825.31
5     07/06/2022  Isabely JOanes 738          168.07
6     07/06/2022  Isabely JOanes 738          339.18
7     07/06/2022  Isabely JOanes 738          314.69
8     08/06/2022  Isabely JOanes 738          682.05
9     08/06/2022    JOãO Gabriel 671          386.34
10    08/06/2022  Julya meireles 914          622.65
11    08/06/2022  Julya meireles 914          630.79
12    09/06/2022  Julya meireles 914           390.3
13    09/06/2022     MaRIA Julia 444          759.16
14    09/06/2022     MaRIA Julia 444          334.47
15    09/06/2022     MaRIA Julia 444          678.78
16    10/06/2022     MaRIA Julia 444          314.24
17    10/06/2022     PEDRO PASCO 812          311.15
18    10/06/2022    Paulo castro 481          899.16
19    10/06/2022   Thiago fritzz 883          885.24

In [ ]:
datos_ventas_online['Valor da compra'] = datos_ventas_online['Valor da compra'].astype(np.float64)

In [ ]:
datos_ventas_online.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    20 non-null     object
 1   Cliente          20 non-null     object
 2   Valor da compra  20 non-null     float64
dtypes: float64(1), object(2)
memory usage: 612.0+ bytes

## Etapa 3

Debido a una inestabilidad en el sitio web de la empresa, tuvimos problemas con los nombres de los clientes durante el guardado. Esto resultó en una columna de nombres de clientes con una combinación de letras, mayúsculas y minúsculas, números y otros caracteres.

Sabiendo esto, manipula los textos de la columna Cliente para que el resultado sean los nombres de los clientes en letras minúsculas, con ausencia de caracteres especiales o números.

In [ ]:
datos_ventas_online['Cliente'].sample()

0    @ANA _LUCIA 321
Name: Cliente, dtype: object

In [ ]:
#datos['descripcion_local'] = datos['descripcion_local'].str.replace('[^a-zA-Z0-9\'-]',' ', regex=True)
#datos['descripcion_local'] = datos['descripcion_local'].str.replace(r'(?<!\w)o(?<!\w)',' ', regex=True)
datos_ventas_online['Cliente'] = datos_ventas_online['Cliente'].str.replace('[^a-zA-Z\'ã-]',' ', regex=True).str.strip()

In [ ]:
datos_ventas_online['Cliente'] = datos_ventas_online['Cliente'].str.lower()

In [ ]:
datos_ventas_online['Cliente'].astype('string')

0         ana  lucia
1     diego armandiu
2     diego armandiu
3     diego armandiu
4     isabely joanes
5     isabely joanes
6     isabely joanes
7     isabely joanes
8     isabely joanes
9       joão gabriel
10    julya meireles
11    julya meireles
12    julya meireles
13       maria julia
14       maria julia
15       maria julia
16       maria julia
17       pedro pasco
18      paulo castro
19     thiago fritzz
Name: Cliente, dtype: string

## Etapa 4

En la columna Fecha de venta tenemos fechas en el formato 'día/mes/año' (dd/mm/AAAA). Transforme estos datos al tipo datetime y busque una forma de visualización de subconjunto que pueda contribuir al objetivo del contexto en el que se insertan los datos.

El objetivo de este proyecto es **analizar los resultados de un evento** con los clientes de una empresa de venta online. Se recopiló un conjunto de datos que contiene los clientes que gastaron más en productos dentro de los 5 días posteriores a la venta, que es la duración del evento. Este análisis **identificará al cliente con la mayor compra esa semana**, quien recibirá un premio de la tienda, y posteriormente, puede ayudar a la empresa a crear nuevas estrategias para atraer más clientes.


* agrupar por cliente
* agrupar por semana
* sumar la totalidad de las compras
* ordenar de mayor a menor
* de yapa puedo sacar porcentaje sobre ingresos totales si quisiera.

In [ ]:
datos_ventas_online['Data de venda'] = pd.to_datetime(datos_ventas_online['Data de venda'], dayfirst=True)

In [ ]:
total_cliente = datos_ventas_online.groupby('Cliente')['Valor da compra'].sum()
mejores_compradores = total_cliente.reset_index().sort_values(by='Valor da compra', ascending=False)
mejores_compradores

          Cliente  Valor da compra
2  isabely joanes          2329.30
5     maria julia          2086.65
4  julya meireles          1643.74
1  diego armandiu          1478.47
6    paulo castro           899.16
8   thiago fritzz           885.24
0      ana  lucia           836.50
3    joão gabriel           386.34
7     pedro pasco           311.15

## Proyecto Desafío 2: Administración de Condominios


Administrar condominios es una tarea que requiere mucha atención y organización. Entre las diversas responsabilidades de gestión se encuentra el **cobro del alquiler a los inquilinos**. Para garantizar la buena salud financiera de la empresa, es fundamental que estos pagos se realicen de forma regular y puntual. Sin embargo, sabemos que esto no siempre sucede.

Teniendo esto en cuenta, propongo un desafío de procesamiento de datos con el **objetivo de analizar el retraso en el pago del alquiler** en el condominio de algunos residentes. Pongo a disposición la base de datos **dados_locacao_imoveis.json**, que contiene información sobre el departamento de los inquilinos, el día acordado para el pago del alquiler, el día en que se realiza el pago del alquiler y el monto del alquiler.

## Etapa 1

Con esta información, el desafío del proyecto 2: administración del condominio será similar al desafío del proyecto 1, abrir la base de datos con Pandas y aplicar json_normalize al DataFrame.

In [ ]:
import pandas as pd

In [ ]:
datos_administracion_condominios = pd.read_json('/content/dados_locacao_imoveis.json')
datos_administracion_condominios = pd.json_normalize(datos_administracion_condominios['dados_locacao'])
datos_administracion_condominios

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),"[01/06/2022, 01/07/2022]","[05/06/2022, 03/07/2022]","[$ 1000,0 reais, $ 2500,0 reais]"
1,A102 (blocoAP),"[02/06/2022, 02/07/2022]","[02/06/2022, 06/07/2022]","[$ 1100,0 reais, $ 2600,0 reais]"
2,B201 (blocoAP),"[03/06/2022, 03/07/2022]","[07/06/2022, 03/07/2022]","[$ 1200,0 reais, $ 2700,0 reais]"
3,B202 (blocoAP),"[04/06/2022, 04/07/2022]","[07/06/2022, 05/07/2022]","[$ 1300,0 reais, $ 2800,0 reais]"
4,C301 (blocoAP),"[05/06/2022, 05/07/2022]","[10/06/2022, 09/07/2022]","[$ 1400,0 reais, $ 2900,0 reais]"
5,C302 (blocoAP),"[06/06/2022, 06/07/2022]","[08/06/2022, 12/07/2022]","[$ 1500,0 reais, $ 1200,0 reais]"
6,D401 (blocoAP),"[07/06/2022, 07/07/2022]","[07/06/2022, 09/07/2022]","[$ 1600,0 reais, $ 1300,0 reais]"
7,D402 (blocoAP),"[08/06/2022, 08/07/2022]","[10/06/2022, 14/07/2022]","[$ 1700,0 reais, $ 1400,0 reais]"
8,E501 (blocoAP),"[09/06/2022, 09/07/2022]","[10/06/2022, 09/07/2022]","[$ 1800,0 reais, $ 1500,0 reais]"
9,E502 (blocoAP),"[10/06/2022, 10/07/2022]","[16/06/2022, 12/07/2022]","[$ 1900,0 reais, $ 1600,0 reais]"
10,F601 (blocoAP),"[11/06/2022, 11/07/2022]","[17/06/2022, 13/07/2022]","[$ 2000,0 reais, $ 1000,0 reais]"
11,F602 (blocoAP),"[12/06/2022, 12/07/2022]","[15/06/2022, 12/07/2022]","[$ 2100,0 reais, $ 1100,0 reais]"
12,G701 (blocoAP),"[13/06/2022, 13/07/2022]","[19/06/2022, 20/07/2022]","[$ 2200,0 reais, $ 1200,0 reais]"
13,G702 (blocoAP),"[14/06/2022, 14/07/2022]","[15/06/2022, 17/07/2022]","[$ 2300,0 reais, $ 2100,0 reais]"
14,H801 (blocoAP),"[15/06/2022, 15/07/2022]","[18/06/2022, 16/07/2022]","[$ 2400,0 reais, $ 2200,0 reais]"

## Etapa 2

Leímos la base de datos en el desafío anterior, ahora podemos seguir adelante con la transformación de estos datos. Así, el nuevo desafío del proyecto 1 será dividido en algunas metas:

* Eliminar datos en listas dentro del DataFrame;

* Verificar tipos de datos;

* Identificar columnas numéricas;

* Transformar la columna numérica a tipo numérico.

In [ ]:
# ELIMINAR DATOS  EN LISTAS
columnas = list(datos_administracion_condominios.columns)
columnas

['apartamento',
 'datas_combinadas_pagamento',
 'datas_de_pagamento',
 'valor_aluguel']

In [ ]:
datos_administracion_condominios = datos_administracion_condominios.explode(columnas[1:])
datos_administracion_condominios.reset_index(inplace=True, drop=True)
datos_administracion_condominios

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),01/06/2022,05/06/2022,"$ 1000,0 reais"
1,A101 (blocoAP),01/07/2022,03/07/2022,"$ 2500,0 reais"
2,A102 (blocoAP),02/06/2022,02/06/2022,"$ 1100,0 reais"
3,A102 (blocoAP),02/07/2022,06/07/2022,"$ 2600,0 reais"
4,B201 (blocoAP),03/06/2022,07/06/2022,"$ 1200,0 reais"
5,B201 (blocoAP),03/07/2022,03/07/2022,"$ 2700,0 reais"
6,B202 (blocoAP),04/06/2022,07/06/2022,"$ 1300,0 reais"
7,B202 (blocoAP),04/07/2022,05/07/2022,"$ 2800,0 reais"
8,C301 (blocoAP),05/06/2022,10/06/2022,"$ 1400,0 reais"
9,C301 (blocoAP),05/07/2022,09/07/2022,"$ 2900,0 reais"
10,C302 (blocoAP),06/06/2022,08/06/2022,"$ 1500,0 reais"
11,C302 (blocoAP),06/07/2022,12/07/2022,"$ 1200,0 reais"
12,D401 (blocoAP),07/06/2022,07/06/2022,"$ 1600,0 reais"
13,D401 (blocoAP),07/07/2022,09/07/2022,"$ 1300,0 reais"
14,D402 (blocoAP),08/06/2022,10/06/2022,"$ 1700,0 reais"
15,D402 (blocoAP),08/07/2022,14/07/2022,"$ 1400,0 reais"
16,E501 (blocoAP),09/06/2022,10/06/2022,"$ 1800,0 reais"
17,E501 (blocoAP),09/07/2022,09/07/2022,"$ 1500,0 reais"
18,E502 (blocoAP),10/06/2022,16/06/2022,"$ 1900,0 reais"
19,E502 (blocoAP),10/07/2022,12/07/2022,"$ 1600,0 reais"
20,F601 (blocoAP),11/06/2022,17/06/2022,"$ 2000,0 reais"
21,F601 (blocoAP),11/07/2022,13/07/2022,"$ 1000,0 reais"
22,F602 (blocoAP),12/06/2022,15/06/2022,"$ 2100,0 reais"
23,F602 (blocoAP),12/07/2022,12/07/2022,"$ 1100,0 reais"
24,G701 (blocoAP),13/06/2022,19/06/2022,"$ 2200,0 reais"
25,G701 (blocoAP),13/07/2022,20/07/2022,"$ 1200,0 reais"
26,G702 (blocoAP),14/06/2022,15/06/2022,"$ 2300,0 reais"
27,G702 (blocoAP),14/07/2022,17/07/2022,"$ 2100,0 reais"
28,H801 (blocoAP),15/06/2022,18/06/2022,"$ 2400,0 reais"
29,H801 (blocoAP),15/07/2022,16/07/2022,"$ 2200,0 reais"

In [ ]:
# VERIFICAR TIPOS DE DATOS
datos_administracion_condominios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     object
 2   datas_de_pagamento          30 non-null     object
 3   valor_aluguel               30 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

In [ ]:
# TRANSFORMAR COLUMNA NUMERICA A TIPO  DE DATO NUMERICO
# 	[$ 1000,0 reais, $ 2500,0 reais]
datos_administracion_condominios['valor_aluguel'] = datos_administracion_condominios['valor_aluguel'].apply(lambda x: x.replace('$', '').replace(',', '.').replace('reais,', '').replace('reais', '').strip())

In [ ]:
datos_administracion_condominios['valor_aluguel'] = datos_administracion_condominios['valor_aluguel'].astype(np.float64)
datos_administracion_condominios.info

<bound method DataFrame.info of        apartamento datas_combinadas_pagamento datas_de_pagamento  \
0   A101 (blocoAP)                 01/06/2022         05/06/2022
1   A101 (blocoAP)                 01/07/2022         03/07/2022
2   A102 (blocoAP)                 02/06/2022         02/06/2022
3   A102 (blocoAP)                 02/07/2022         06/07/2022
4   B201 (blocoAP)                 03/06/2022         07/06/2022
5   B201 (blocoAP)                 03/07/2022         03/07/2022
6   B202 (blocoAP)                 04/06/2022         07/06/2022
7   B202 (blocoAP)                 04/07/2022         05/07/2022
8   C301 (blocoAP)                 05/06/2022         10/06/2022
9   C301 (blocoAP)                 05/07/2022         09/07/2022
10  C302 (blocoAP)                 06/06/2022         08/06/2022
11  C302 (blocoAP)                 06/07/2022         12/07/2022
12  D401 (blocoAP)                 07/06/2022         07/06/2022
13  D401 (blocoAP)                 07/07/2022         09/07/2022
14  D402 (blocoAP)                 08/06/2022         10/06/2022
15  D402 (blocoAP)                 08/07/2022         14/07/2022
16  E501 (blocoAP)                 09/06/2022         10/06/2022
17  E501 (blocoAP)                 09/07/2022         09/07/2022
18  E502 (blocoAP)                 10/06/2022         16/06/2022
19  E502 (blocoAP)                 10/07/2022         12/07/2022
20  F601 (blocoAP)                 11/06/2022         17/06/2022
21  F601 (blocoAP)                 11/07/2022         13/07/2022
22  F602 (blocoAP)                 12/06/2022         15/06/2022
23  F602 (blocoAP)                 12/07/2022         12/07/2022
24  G701 (blocoAP)                 13/06/2022         19/06/2022
25  G701 (blocoAP)                 13/07/2022         20/07/2022
26  G702 (blocoAP)                 14/06/2022         15/06/2022
27  G702 (blocoAP)                 14/07/2022         17/07/2022
28  H801 (blocoAP)                 15/06/2022         18/06/2022
29  H801 (blocoAP)                 15/07/2022         16/07/2022

    valor_aluguel
0          1000.0
1          2500.0
2          1100.0
3          2600.0
4          1200.0
5          2700.0
6          1300.0
7          2800.0
8          1400.0
9          2900.0
10         1500.0
11         1200.0
12         1600.0
13         1300.0
14         1700.0
15         1400.0
16         1800.0
17         1500.0
18         1900.0
19         1600.0
20         2000.0
21         1000.0
22         2100.0
23         1100.0
24         2200.0
25         1200.0
26         2300.0
27         2100.0
28         2400.0
29         2200.0  >

## Etapa 3

Buscando explicar la organización de la identificación de los apartamentos, durante la creación del conjunto de datos se añadió el texto (blocoAP). Este texto informa que los nombres de los apartamentos están organizados con la letra mayúscula seguida del número del apartamento. Sin embargo, esto no aporta ninguna información a nuestros datos, por lo que resulta interesante eliminar este texto del conjunto de datos.

Con esto, manipule los textos de la columna apartamento para eliminar el texto (blocoAP) del DataFrame.

In [ ]:
#Puedo usar un replace normal por que no  necesito una expresion regular para  reemplazarlo.

datos_administracion_condominios['apartamento'] = datos_administracion_condominios['apartamento'].str.replace('(blocoAP)', '')
datos_administracion_condominios['apartamento'] = datos_administracion_condominios['apartamento'].astype('string')

## Etapa 4

En las columnas datas_de_pagamento y datas_combinadas_pagamento tenemos fechas en el formato 'día/mes/año' (dd/mm/AAAA). Transforme estos datos al tipo datetime y busque una forma de visualización de subconjunto que pueda contribuir al objetivo del contexto en el que se insertan los datos.

Objetivo: **analizar el retraso en el pago de la renta** en el **condominio** ficticio de algunos **residentes**.

* Agrupo por apartamento (eso agrupa por residente porque no tengo columna residente).
* La renta se paga el dia acordado en data de pagamento.
* puedo hacer un booleano de comparar data de pago y de pagamento
* lo almaceno en una nueva columna
* group by departamento y nueva columna
* la comparacion da cantidad de true pagos a tiempo y cantidad de false pagos retrasados.
* el informe dice porcentaje de alquileres retrasados por apartamento. ordenados del mas moroso almenos. se informa la cantidad de meses de alquiler por contrato para brindar mas informacion.

In [ ]:
# Tranformacion a datetime
datos_administracion_condominios['datas_de_pagamento'] = pd.to_datetime(datos_administracion_condominios['datas_de_pagamento'], format='%d/%m/%Y')

In [ ]:
datos_administracion_condominios['datas_combinadas_pagamento'] = pd.to_datetime(datos_administracion_condominios['datas_combinadas_pagamento'], format='%d/%m/%Y')

In [ ]:
#  COLUMNA BOOLEANA
# si  pago a tiempo  ('datas_de_pagamento')<= (datas_combinadas_pagamento) --> True
#dia = datos_administracion_condominios['datas_de_pagamento'].dt.day

datos_administracion_condominios['pago a tiempo'] = datos_administracion_condominios['datas_de_pagamento'] <= datos_administracion_condominios['datas_combinadas_pagamento']
datos_administracion_condominios

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel,pago a tiempo
0,A101,2022-06-01,2022-06-05,1000.0,False
1,A101,2022-07-01,2022-07-03,2500.0,False
2,A102,2022-06-02,2022-06-02,1100.0,True
3,A102,2022-07-02,2022-07-06,2600.0,False
4,B201,2022-06-03,2022-06-07,1200.0,False
5,B201,2022-07-03,2022-07-03,2700.0,True
6,B202,2022-06-04,2022-06-07,1300.0,False
7,B202,2022-07-04,2022-07-05,2800.0,False
8,C301,2022-06-05,2022-06-10,1400.0,False
9,C301,2022-07-05,2022-07-09,2900.0,False
10,C302,2022-06-06,2022-06-08,1500.0,False
11,C302,2022-07-06,2022-07-12,1200.0,False
12,D401,2022-06-07,2022-06-07,1600.0,True
13,D401,2022-07-07,2022-07-09,1300.0,False
14,D402,2022-06-08,2022-06-10,1700.0,False
15,D402,2022-07-08,2022-07-14,1400.0,False
16,E501,2022-06-09,2022-06-10,1800.0,False
17,E501,2022-07-09,2022-07-09,1500.0,True
18,E502,2022-06-10,2022-06-16,1900.0,False
19,E502,2022-07-10,2022-07-12,1600.0,False
20,F601,2022-06-11,2022-06-17,2000.0,False
21,F601,2022-07-11,2022-07-13,1000.0,False
22,F602,2022-06-12,2022-06-15,2100.0,False
23,F602,2022-07-12,2022-07-12,1100.0,True
24,G701,2022-06-13,2022-06-19,2200.0,False
25,G701,2022-07-13,2022-07-20,1200.0,False
26,G702,2022-06-14,2022-06-15,2300.0,False
27,G702,2022-07-14,2022-07-17,2100.0,False
28,H801,2022-06-15,2022-06-18,2400.0,False
29,H801,2022-07-15,2022-07-16,2200.0,False

In [ ]:
datos_administracion_condominios['retraso'] = datos_administracion_condominios['datas_de_pagamento'] - datos_administracion_condominios['datas_combinadas_pagamento']
datos_administracion_condominios

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel,pago a tiempo,retraso
0,A101,2022-06-01,2022-06-05,1000.0,False,4 days
1,A101,2022-07-01,2022-07-03,2500.0,False,2 days
2,A102,2022-06-02,2022-06-02,1100.0,True,0 days
3,A102,2022-07-02,2022-07-06,2600.0,False,4 days
4,B201,2022-06-03,2022-06-07,1200.0,False,4 days
5,B201,2022-07-03,2022-07-03,2700.0,True,0 days
6,B202,2022-06-04,2022-06-07,1300.0,False,3 days
7,B202,2022-07-04,2022-07-05,2800.0,False,1 days
8,C301,2022-06-05,2022-06-10,1400.0,False,5 days
9,C301,2022-07-05,2022-07-09,2900.0,False,4 days
10,C302,2022-06-06,2022-06-08,1500.0,False,2 days
11,C302,2022-07-06,2022-07-12,1200.0,False,6 days
12,D401,2022-06-07,2022-06-07,1600.0,True,0 days
13,D401,2022-07-07,2022-07-09,1300.0,False,2 days
14,D402,2022-06-08,2022-06-10,1700.0,False,2 days
15,D402,2022-07-08,2022-07-14,1400.0,False,6 days
16,E501,2022-06-09,2022-06-10,1800.0,False,1 days
17,E501,2022-07-09,2022-07-09,1500.0,True,0 days
18,E502,2022-06-10,2022-06-16,1900.0,False,6 days
19,E502,2022-07-10,2022-07-12,1600.0,False,2 days
20,F601,2022-06-11,2022-06-17,2000.0,False,6 days
21,F601,2022-07-11,2022-07-13,1000.0,False,2 days
22,F602,2022-06-12,2022-06-15,2100.0,False,3 days
23,F602,2022-07-12,2022-07-12,1100.0,True,0 days
24,G701,2022-06-13,2022-06-19,2200.0,False,6 days
25,G701,2022-07-13,2022-07-20,1200.0,False,7 days
26,G702,2022-06-14,2022-06-15,2300.0,False,1 days
27,G702,2022-07-14,2022-07-17,2100.0,False,3 days
28,H801,2022-06-15,2022-06-18,2400.0,False,3 days
29,H801,2022-07-15,2022-07-16,2200.0,False,1 days

In [ ]:
apartamentos = datos_administracion_condominios[['apartamento','pago a tiempo','retraso']].sort_values(by= 'apartamento')
media_retraso = apartamentos.groupby(['apartamento'])['retraso'].mean().sort_values(ascending=False)
media_retraso

apartamento
G701    6 days 12:00:00
C301    4 days 12:00:00
C302    4 days 00:00:00
D402    4 days 00:00:00
E502    4 days 00:00:00
F601    4 days 00:00:00
A101    3 days 00:00:00
A102    2 days 00:00:00
B201    2 days 00:00:00
B202    2 days 00:00:00
G702    2 days 00:00:00
H801    2 days 00:00:00
F602    1 days 12:00:00
D401    1 days 00:00:00
E501    0 days 12:00:00
Name: retraso, dtype: timedelta64[ns]

In [ ]:
datos_administracion_condominios.groupby('apartamento')['pago a tiempo'].sum()

apartamento
A101     0
A102     1
B201     1
B202     0
C301     0
C302     0
D401     1
D402     0
E501     1
E502     0
F601     0
F602     1
G701     0
G702     0
H801     0
Name: pago a tiempo, dtype: int64

In [ ]:
#AGRUPAR

# columnas = ['apartamento', 'datas_combinadas_pagamento', 'datas_de_pagamento', 'valor_aluguel']
# s.groupby(["first", "second"]).sum()
apartamentos = datos_administracion_condominios.groupby('apartamento')['pago a tiempo'].sum()
apartamentos

apartamento
A101     0
A102     1
B201     1
B202     0
C301     0
C302     0
D401     1
D402     0
E501     1
E502     0
F601     0
F602     1
G701     0
G702     0
H801     0
Name: pago a tiempo, dtype: int64

In [ ]:

departamenos_retrasados = apartamentos.sort_values(ascending=True)
departamenos_retrasados

apartamento
A101     0
B202     0
C302     0
C301     0
D402     0
G702     0
F601     0
E502     0
H801     0
G701     0
A102     1
B201     1
D401     1
E501     1
F602     1
Name: pago a tiempo, dtype: int64

# Repaso groupby

[Documentacion pandas](https://pandas.pydata.org/docs/)

[Group by: split-apply-combine](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#splitting-an-object-into-groups)

[Grouping](https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html#grouping)

[tutoriales](https://pandas.pydata.org/docs/getting_started/tutorials.html)